#header{
	height: 3em;
	width: 100%;
	background-color:#2ECC71;
	font-size: 2em;
	padding-top: 0.7em;
	color:#F2F1EF;
}
#bodi{
	height:100%;
	width: 100%;
	padding-top: 1em;
	color: #2ECC71;

}

@media all and (min-width: 300px){
	.form-div{
		width: 100%;
	}
}

@media all and (min-width: 1000px){
	.form-div{
		margin: auto;
		width: 20%;
	}
}


.glyphicon{
	font-size: 5em;
}


/*.container{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}*/

.inner-div{
	max-width: 200px;
	height: 200px;
	float: left;
	margin: 10px auto 10px auto;
}

hr{
	color:#2ECC71 ;
	background-color:#2ECC71;
	border-width: 3px;
}
/*----------SPECIFIC BUDGET DETAILS------------*/
#wholecontent{
	height: 49.5em;
	width: 100%;
	background-color:#2ECC71;
	padding-top: 1em;
	color: #F2F1EF;
}
.form-control{
	width: 30%;
	border-radius: 10px;
	height: 50px;
}
.form-control:focus{
        border: 2px solid #00bd9c;
 }

.con{
	margin-left: 30px;
}

#save{
	margin-left: 20%;
	margin-top: 2%;
}
#submit{
	margin-left: 20%;
	margin-top: 2%;
}


input #submit {
	margin-top:10px;
	font-size:18px;
	border:1px solid #0F799E;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	background: blue;
}

#delete{
	margin-top: 1%;
	margin-left: 58%;
}

#hide {
	display:none
}

@media all and (min-width: 300px)  { 
	#detail-icon{
		max-width: 50%;
	}
}

@media all and (min-width: 1000px)  { 
	#detail-icon{
		max-width: 15%;
	}
}v

/*---------------NEW BUDGET-------------------*/
#span1{
	padding:1em;
}

#bode{
	padding-top: 5%;
	height: 100%;

	/*background-color: grey;*/
	display: block;
}

#txtbox{
	min-width: 200px;
	width: 100%;
	height: 3em;
	float: left;
	margin: 10px auto 10px auto;
}


.budget-container{
	display: flex;
	flex-wrap: wrap;
	padding-top: 1%;
}

.budget{
	float: left;
}

.back-icon{
	margin: 2.5% 0 0 1%;
}


.icon-container{
	justify-content: center;
}

.icon{
	width: 80%;
	display: block;
	margin:auto;
}

@media all and (min-width: 300px)  { 
	.budget{
		max-width: 32%;
		margin-top: 5%;
	}	

	.icon-container{
		padding:0;
		margin-right:10px;
		margin-left:10px;
	}

	.back-icon{
		width:7%; 
		float:left;
	}

}

@media all and (min-width: 1000px)  { 
	.budget{
		max-width: 15%;
		max-height: 20%
		margin-top: 2%;
	}

	.back-icon{
		width:3%; 
		float:left;
	}
}

.icon-name{
	text-align: center;
}

.amount{
	text-align: center;
}


.icon-div{
	max-width:30%;
	margin: auto;
	padding-top: 10%;
}

.budget-name{
	background-color: green;
	height: 10%;
}

.budget-amount{
	background-color: green;
	height: 10%;
}

#submitB{
	margin:auto;
}

.button-div{
	position: relative;
	display: block;
	justify-content: center;
}

#add-icon-div{
	margin-bottom: 5%;
}

.wrapper{
	display: grid;

	overflow: hidden;
	padding-top: 5vh;
}


.icon-name{
	text-transform: capitalize;
}

.amount{
	font-weight: bold;
}

@media all and (min-width: 300px){
	.wrapper {
  		grid-template-columns: 18% 18% 18% 18% 18%;
  		grid-gap: 5px;
  		max-width: 100%;
  		padding-left: 0px;
  		margin-left: 5%;
  		margin-right: 5%;
	}

	#add-icon{
		width:20%;
	}

	.icon-name{
		font-size:15px;
	}
	.amount{
		font-size: 15px;
	}
}


@media all and (min-width: 1000px){
	.wrapper {
  		grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  		grid-gap: 10px;
  		max-width: 100%;
  		padding-left: 0px;
  		margin-left: 5%;
  		margin-right: 5%;
	}

	#add-icon{
		width:30%;
	}


	.icon-name{
		font-size:100%;
	}
	.amount{
		font-size: 100%;
	}
}

#error{
	color: red;
}
