#header{
	height: 3em;
	width: 100%;
	background-color:#2ECC71;
	font-size: 2em;
	padding-top: 0.7em;
	color:#F2F1EF;
}
#bodi{
	height:100%;
	width: 100%;
	padding-top: 1em;
	color: #2ECC71;

}

.glyphicon{
	font-size: 5em;
}


.container{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.inner-div{
	min-width: 200px;
	height: 200px;
	float: left;
	margin: 10px auto 10px auto;
}

hr{
	color:#2ECC71 ;
	background-color:#2ECC71;
	border-width: 3px;
}
/*----------SPECIFIC BUDGET DETAILS------------*/
#wholecontent{
	height: 49.5em;
	width: 100%;
	background-color:#2ECC71;
	padding-top: 1em;
	color: #F2F1EF;
}
.form-control{
	width: 30%;
	border-radius: 10px;
	height: 50px;
}
.form-control:focus{
        border: 2px solid #00bd9c;
 }

.con{
	margin-left: 30px;
}

#save{
	margin-left: 20%;
	margin-top: 2%;
}
#submit{
	margin-left: 20%;
	margin-top: 2%;
}


input#submit {
	margin-top:10px;
	font-size:18px;
	border:1px solid #0F799E;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	background: blue;
}

#delete{
	margin-top: 1%;
	margin-left: 58%;
}

#hide {
display:none
}

/*---------------NEW BUDGET-------------------*/
#span1{
	padding:1em;
}

#bode{
	height:52.5em;
	width: 100%;
	background-color:#F2F1EF;
}

#txtbox{
	min-width: 200px;
	width: 100%;
	height: 3em;
	float: left;
	margin: 10px auto 10px auto;
}



